body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff3300, #f8c69f);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(to bottom, #ff3300, #f8c69f);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
    text-align: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}


img {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
}

button:hover {
    background-color: #45a049;
}
#play-button {
    position: absolute;
    margin-bottom: 50px;
    transform: translate(-50%, -50%);
    background-color: #1DB954; 
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#play-button .fa-solid fa-play {
    width: 0;
    height: 0;
    border-radius: 20px;
    border-left: 15px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

#playButton:hover {
    background-color: #1ed760;
}
